<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="cn.zadui.reader"
      android:versionCode="55"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="5" />

	<!--  
    <application android:name=".service.CustomApplication" 
    	android:icon="@drawable/lipstick" android:label="@string/app_name" 
    	android:theme="@style/CustomTheme">
    -->
    <application android:name=".service.CustomApplication" 
    	android:icon="@drawable/vintage_girl" android:label="@string/app_name" 
    	android:theme="@android:style/Theme.Light.NoTitleBar">
    	
        <provider android:name=".provider.ReaderArchiveProvider"
            android:authorities="cn.zadui.provider.ReaderArchive"
        />
    
        <activity android:name=".view.MainScreen"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.Archive"/>
        <activity android:name=".view.AppSettings"/>
		<service android:name=".service.DownloadService" android:exported="false"></service>  
		
		<receiver android:name=".service.NetworkChangedReceiver">
			<intent-filter>
				<action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
			</intent-filter>
		</receiver>     

    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    
</manifest>