<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="cn.zadui.reader"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" />

    <application android:icon="@drawable/lipstick" android:label="@string/app_name" android:theme="@android:style/Theme.Light">
    
        <provider android:name=".provider.ReaderArchiveProvider"
            android:authorities="cn.zadui.provider.ReaderArchive"
        />
    
        <activity android:name=".view.MainScreen"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.Archive"/>
		<service android:name=".service.DownloadService" android:exported="false"></service>  
		
		<receiver android:name=".service.NetworkChangedReceiver">
			<intent-filter>
				<action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
			</intent-filter>
		</receiver>     

    </application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>